@{
    ViewBag.Title = "Contact|DataDrunk";
}
<h1>Contact</h1>


<br />
<b>@ViewBag.Message</b>
<form method= "post">
    <textarea> </textarea><br />
    <input id="Submit" type="submit" value="submit" />

</form>