@model DataDrunk.Models.DownloadsModels



    <h1>Downloads</h1>
    @{
        var myList = new List<SelectListItem>();
            DirectoryInfo directory = new DirectoryInfo(Server.MapPath("~/Content/Downloads/"));
            var direcs = directory.GetDirectories();
            foreach (var direc in direcs)
            {
                string myDirectory = direc.ToString();
                string btn = "btn btn-default";
                if (ViewBag.Direct == myDirectory)
                {
                    btn = "btn btn-success";
                }

                <text><a class="@btn" @Html.ActionLink(myDirectory, "Downloads/" + myDirectory) </text>   
            }  
    }
 <br /><br />
    @{
        if (ViewBag.Direct != "")
        {
            string repo = ViewBag.Direct;
            DirectoryInfo deepDirectory = new DirectoryInfo(Server.MapPath("~/Content/Downloads/" + repo + "/"));
            var files = deepDirectory.GetFiles();
            int count = 0;
            string btnClass = "btn btn-success";
            foreach (var fil in files)
            {
                count++;
                int div = count / 2;
                if ((div * 2) == count)
                {
                    btnClass = "btn btn-info";
                }
                else
                {
                    btnClass = "btn btn-success";
                }
                string myFile = fil.ToString();
                <a class="@btnClass" href="~/Content/Downloads/@repo/@myFile" download>@myFile</a>

            }
        }
    }

   




