@{
    ViewBag.Title = "DataDrunk|Home";
}

<br />
<br />
   <h1><b>A website designated to solving complex problems with fun solutions, probably...</b></h1>
<br />
<br />
<div class="row">
    <div class="btn-toolbar">
        <div class="col-md-4" align="center">
            <p><a class="btn btn-primary" @Html.ActionLink("Apps!", "Apps", "Apps")</a></p>
        </div>
        <div class="col-md-4" align="center">
            <p><a class="btn btn-primary" @Html.ActionLink("Downloads", "Downloads", "Base")</a></p>
        </div>
         <div class="col-md-4" align="center">
             <p><a class="btn btn-primary" @Html.ActionLink("Contact", "Create", "Contact") </a></p>
         </div>        
     </div>
</div>
<br />
<br />
